/**
* @name CosmicNexusTheme
* @author 0xwooru
* @version 1.0
* @description Theme that brings together various customizable elements, like the vastness of space, to create a unique and interconnected experience for Discord users
* @source https://github.com/Wooru-crypto/CosmicNexusTheme/
* @updateUrl https://raw.githubusercontent.com/Wooru-crypto/CosmicNexusTheme/main/CosmicNexusTheme.theme.css
*/


@import url(https://wooru-crypto.github.io/CosmicNexusTheme/css/CosmicNexusTheme.css);

:root {
  /*
    Theme Background
  */
  --theme-background-image: url(https://uca1dbc79c85805e69e9785bd5e0.previews.dropboxusercontent.com/p/thumb/AB_xMNsQqCTz987MhrvnR9pOUeHEXLAncpyTtZWKHCHIaGutJyK4UNv9BwmzKSzUlbFiCgh_L6x6w-SDuHuhBymUrInAqPLXacaY1n0I3mUqN0VxDnfpZFD9JCBpHQ8ZNrnPAPPiMZR6uxlNU_U-eexWdAW9ROwkpoGEPtNF2vGrmi4z34jV9gXaj_Kx83PEGqFYjC0IwQVJvkGcbVS9Cw9HuENcsRMp0YyXExnqXP_YfAh0wgmDoZ5hz4qqnHndkpARZ5uWX9_KbwLEa5x7jsBDgu5EnCOMXCaxevUn8ZL7C1YOmgmnxgftQpOyfvADyxZJQyOa7s6VCnCnOCu2hdmS/p.png);

  /*
    Main Theme Color
  */
  --main-theme-color: rgb(218, 172, 172);

  /*
    Main Theme Transparency
  */
  --theme-transparency: rgba(0, 0, 0, 0.8);

  /*
    Home Icon Image
  */
  --home-icon-image: url(https://www.galverse.art/pfp/8282);

  /*
    Font Size
  */
  --font-size: 100%;

  /*
    Mention colors
  */
  --mention-color: rgba(250, 166, 26, 0.05);
  --mention-sider: rgb(210, 109, 163);
  --mention-hover-color: rgba(250, 166, 26, 0.08);

  /*
    Server category hover color
  */
  --category-hover-color: rgb(50, 59, 55);



  /*
    Video / Screen share buttons
  */
  --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
  --video-screen-button-foreground-color: white;
  --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
  --video-screen-button-foreground-hovor-color: white;

  /*
    Small User Popout
  */
  --small-user-popout-background-image: var(--theme-background-image);
  --small-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --small-user-popout-background-image-position: center;

  /*
    Big User Popout
  */
  --big-user-popout-background-image: var(--theme-background-image);
  --big-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --big-user-popout-background-image-position: center;

  /*
    Code Markup
  */
  --code-markup-background-color: rgba(0, 0, 0, 0.6);
  --code-markup-border: 1px solid transparent;

  /*
    Message Box Transparency
  */
  --message-box-transparency: rgba(0, 0, 0, 0.6);

  /*
    Embed Background Transparency
  */
  --embed-background-transparency: rgba(0, 0, 0, 0.6);

  /*
    Message Hover Buttons
  */
  --message-hover-buttons-background: rgba(200, 200, 200, 0.1);

  /*
    Context Menu Transparency
  */
  --context-menu-transparency: rgba(15, 15, 15, 0.8);

  /*
    Add Server / Discovery Icon
  */
  --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
  --add-discover-icon-color: #43b581;

  /*
    Channel Limit Number Color
  */
  --channel-limit-count-color: var(--channels-default);
  --channel-limit-background-left: rgba(200, 200, 200, 0.1);
  --channel-limit-background-right: rgba(200, 200, 200, 0.2);

  /*
    Scrollbar Colors
  */
  --scrollbar-color: rgba(200, 200, 200, 0.2);

  /*
    Unread Message Divider
  */
  --unread-message-divider-color: #f04747;
  --unread-message-divider-font-color: #fff;

  /*
    New Messages Bar Color
  */
  --new-messages-bar-background-color: rgb(33,14,77);
  --new-messages-bar-font-color: #fff;

  /*
    Emoji Menu
  */
  --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
  --emoji-menu-sider-background-color: rgba(0, 0, 0, 0);
  --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
  --emoji-menu-bottom-bar-background-color: black;
  --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);

  /*
    Message Search
  */
  --message-search-menu-background-color: rgba(0, 0, 0, 0.8);
  --message-search-container-background-color: rgba(0, 0, 0, 0.6);
  --message-search-result-background-color: rgba(200, 200, 200, 0.05);

  /*
    Channel colors
  */
  --text-voice-channel-color: rgb(142, 146, 151);
  --text-voice-channel-hover-color: #dcddde;
  --text-voice-channel-selected-text-color: #fff;
  --unread-text-channel-color: #fff;
  --unread-text-channel-bubble-color: var(--main-theme-color);

  /*
    Folders
  */
  --folder-background-color: #2f3136;
  --expanded-folder-background-color: transparent;

  /*
    Reactions
  */
  --reaction-emoji-background-color: rgba(0, 0, 0, 0);
  --reaction-emoji-border-color: 1px solid transparent;
  --reaction-emoji-hover-background-color: rgba(255, 255, 255, 0.1);
  --reaction-emoji-hover-border-color: rgba(255, 255, 255, 0.2);
 /*
    Colums Edit 
  */

  --columns:			1;			 /*Default 1*/				
	--guildsize:		50;			 /*Default 50*/					
	--guildgap:			3;	     /*Default 3*/			

}
